<div style="background-color: powderblue;">
  <div style="background-color: #333;">
  <h2 style="color: white;">Sign Up</h2>
  </div>
  <br>
  <hr>
  <div> 
    <form (ngSubmit)="getByIdNow(user.uusername)">
          <label for="uusername"><b>Username : </b></label>
          <input type="text" [(ngModel)] ="user.uusername" name="uusername" 
          placeholder="Enter Username" required><br>

          <label for="upassword"><b>Password : </b></label>
          <input type="password" [(ngModel)]="user.upassword" name="upassword" 
          placeholder="Enter Password" required><br>

          <P style="color:red;">{{message}}</P>

          <p>By creating an account you agree to our <a href="#" 
            style="color:dodgerblue">Terms & Privacy</a>.</p>

          <button style="background-color:mediumseagreen;font-size: medium;" 
          type="submit" class="signupbtn">Sign-up</button><br>
    </form>
  </div>
  <br>
  <div>
    <form (ngSubmit)="connect()">
      <button type="submit" style="font-size: medium;">Cancel</button>
    </form>
  </div>
  <br>
  <div><p>{{message_1}}</p></div>
</div>
