<div style="background-color: powderblue;">
    <div style="background-color:#333;" >
      <h2 style="color: white;">New Password</h2>
    </div>
    <br>
    <hr>
    <div>
      <form (ngSubmit)="forgetNow()">
        <label for="uusername"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" [(ngModel)]="user.uusername"
        name="uusername" required><br>
  
        <label for="upassword"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" [(ngModel)]="user.upassword"
        name="upassword" required><br>

        <p style="color: green;">{{message}}</p>

        <br>
        <button style="background-color:mediumseagreen;font-size: medium;" 
        type="submit">Submit</button><br>
      </form>
    </div>
    <br>
    <div>
      <form (ngSubmit)="connect()">
        <button type="submit" style="font-size: medium;">Cancel</button>
      </form>
    </div>
    <br>
  </div>
