<div style="background-color: powderblue;">  
    <div style = "background-color:#333;">
        <h2 style="color: white;">Welcome to Travel History Management</h2>
    </div>
    <br>
    <hr> 
    <div>
        <style>
            a {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 4px 16px;
            font-size: x-large;
            text-decoration: none;
            background-color: mediumseagreen;
            }
            a:hover{
                background-color: mediumaquamarine;
            }
            a:active{
                color: white;
            }
        </style>
        <a href="/sign-in">Sign In</a>
    </div>
    <br>   
    <div>
        <a href="/sign-up">Sign Un</a>
    </div>   
</div>  